<div class="jumbotron">
  <h1>To fix the world...</h1>
  <p><a class="btn btn-lg btn-success" ng-click="generateRandomSet()">Generate <span class="glyphicon glyphicon-refresh"></span></a></p>
  <div class="row"></div>
  <div class="col-lg-4">
    <p>I would use principles from</p>
    <div class="panel" ng-model"scope">
      <div class="panel-body lead">
        {{currentprinciples.name}}
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <p>to solve</p>
    <div class="panel lead" ng-model"scope">
      <div class="panel-body">
        {{currentchallenges.name}}
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <p>by</p>
    <div class="panel">
      <div class="panel-body">
        <div class="form-control-wrapper">
          <textarea class="form-control col-lg-12 empty" rows="3" id="ideaText" placeholder="Imagine here"></textarea>
          <span class="material-input"></span>
        </div>
      </div>
      <a href="javascript:void(0)" class="btn btn-xs btn-primary">Submit</a>
    </div>
  </div>
  &nbsp;
</div>
